<div class="row" [formGroup]="cocktailValidate">
    <div class="col-12">
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/home/home">
                    <i class="fa-solid fa-martini-glass-citrus" style="color:orangered"></i>
                    <b>Cocktails</b>
                </a>
            </div>
        </nav>
    </div>
    <div class="col-12 centerdiv">
        <div class="card" style="width: 38rem;" *ngFor="let item of listCocktailsApiById">
            <img src="{{item.strDrinkThumb}}" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title centerdiv">{{item.strDrink}}</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="col-12">
                        <h5 class="card-title">Categoria</h5>
                        <p class="card-text">{{item.strCategory}}.</p>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="col-12 txtAling">
                        <h5 class="card-title">Instrucciones En Ingles </h5>
                        <p class="card-text">{{item.strInstructions}}</p>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="col-12 txtAling">
                        <h5 class="card-title">Instrucciones En Español </h5>
                        <p class="card-text">{{item.strInstructionsES}}</p>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="col-12 txtAling">
                        <h5 class="card-title">Instrucciones En Frances </h5>
                        <p class="card-text">{{item.strInstructionsFR}}</p>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="col-12 txtAling">
                        <h5 class="card-title">Instrucciones En Italiano </h5>
                        <p class="card-text">{{item.strInstructionsIT}}</p>
                    </div>
                </li>
            </ul>
            <div class="card-body centerdiv">
                <button type="button" class="btn btn-outline-info" (click)="redirect.redirect('/home/home')"><i class="fa-solid fa-house-chimney" style="color: orangered;"></i> Home</button>
                <button type="button" class="btn btn-outline-success" (click)="saveFavorites()"><i class="fa-solid fa-star" style="color: yellow;"></i> Agregar a Favoritos </button>
            </div>
        </div>
    </div>


</div>