<div class="row">
    <div class="col-12">
        <app-navbar></app-navbar>
    </div>
    <div class="col-6 offset-3">
        <select class="form-select" aria-label="Disabled select example" name="letra" id="letra" (change)="getCocktailsApi($event)">
            <option selected>Open this select menu</option>
            <option value="{{letra}}" *ngFor="let letra of abc">{{letra}}</option>
          </select>
    </div>
    <div class="col-12 centerdiv alert alert-primary" style="font-size: 20px;">
        <b>COCTELES CON LA LETRA {{letra|uppercase}}</b>
    </div>
    <div class="col-8 offset-2">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Image</th>
                    <th scope="col">Nombre del Coctel</th>
                    <th scope="col">Detalle</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr *ngFor="let item of listCocktailsApiByLetter">
                    <td><img src="{{item.strDrinkThumb}}" style="width: 115px;"></td>
                    <td>{{item.strDrink}}</td>
                    <td><a href="/home/CocktailDetail/{{item.idDrink}}"><i class="fa-solid fa-eye"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>