<div class="row">
  <div class="col-12">
    <div class="row">
      <nav class="navbar bg-light">
        <div class="container col-10">
          <a class="navbar-brand" href="/home/home">
            <i class="fa-solid fa-martini-glass-citrus"></i>
            Cocktails
          </a>
        </div>
        <div class="col-2">
          <i class="fa-solid fa-right-from-bracket" (click)="logOut.logouth()"></i>
        </div>
      </nav>
    </div>

  </div>
  <div class="col-12">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Cocktails Guardados</a>
      </li>
    </ul>
  </div>
</div>