<div class="row">
    <div class="col-12">
        <app-navbar></app-navbar>
    </div>

    <div class="col-12 centerdiv alert alert-primary" style="font-size: 20px;">
        <i class="fas fa-star" style="color: yellow;"></i><b>COCTELES FAVORITOS</b><i class="fas fa-star"
            style="color: yellow;"></i>
    </div>
    <div class="col-8 offset-2">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Image</th>
                    <th scope="col">Nombre del Coctel</th>
                    <th scope="col">Detalle</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr *ngFor="let item of listCocktailsBd">
                    <td><img src="{{item.image}}" style="width: 115px;"></td>
                    <td>{{item.name}}</td>
                    <td>
                        <div class="row">
                            <div class="col-4">
                                <a href="/home/CocktailDetail/{{item.id}}"><i class="fa-solid fa-eye"></i></a>
                            </div>
                            <div class="col-4" ><i class="fas fa-edit" style="color: green;"></i></div>
                            <div class="col-4"  (click)="deleteCocktailBD(item.id!)"><i class="fas fa-trash-alt" style="color: red;"></i></div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>